.app {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding: 134px 122px;
    background: var(--green-color);

    @media (max-width: 991px) {
      padding: 50px;
      gap: 32px;
    }
  }
}