.card {
  position: relative;
  border: 1px solid #e9e9ec;
  width: 474px;
  height: 500px;
  padding: 40px 43px 0 43px;

  @media (max-width: 991px) {
    width: 350px;
    height: 376px;
    padding: 30px 35px 0 35px;
  }

  @media (max-width: 767px) {
    width: 270px;
    height: 300px;
    padding: 15px 20px 0 20px;
  }

  &__subheader {
    font-weight: 400;
    font-size: 16px;
    line-height: 98%;

    @media (max-width: 991px) {
      font-size: 14px;
    }

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }

  &__header {
    margin-top: 15px;
    font-weight: 400;
    font-size: 39px;
    line-height: 101%;
    letter-spacing: 0.03em;

    @media (max-width: 991px) {
      font-size: 33px;
    }

    @media (max-width: 767px) {
      margin-top: 10px;
      font-size: 24px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 25px;
    line-height: 110%;

    @media (max-width: 991px) {
      font-size: 24px;
    }

    @media (max-width: 767px) {
      font-size: 17px;
    }
  }

  &__img {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &__cross {
    position: absolute;
    bottom: 34px;
    left: 36px;

    @media (max-width: 991px) {
      bottom: 26px;
      left: 28px;
      width: 45px;
    }

    @media (max-width: 767px) {
      width: 30px;
      bottom: 20px;
      left: 23px;
    }
  }

  &__plus {
    position: absolute;
    bottom: 34px;
    right: 36px;

    @media (max-width: 991px) {
      bottom: 26px;
      right: 28px;
      width: 45px;
    }

    @media (max-width: 767px) {
      width: 30px;
      bottom: 20px;
      right: 23px;
    }
  }
}