.cards {
  display: flex;
  flex-direction: row;
  margin-top: 90px;
  gap: 26px;

  @media (max-width: 991px) {
    margin-top: 60px;
    gap: 20px;
  }

  &__column-one {
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }

  &__column-two {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 36px;
  }
}