.footer {
  position: relative;

  &__wrapper {
    padding: 83px 28px;

    @media (max-width: 991px) {
      padding: 63px 18px;
    }

    @media (max-width: 767px) {
      padding: 22px 0px;
    }
  }

  &__text {
    margin-top: 53px;
    display: flex;
    gap: 150px;

    @media (max-width: 991px) {
      margin-top: 43px;
      gap: 100px;
    }

    @media (max-width: 767px) {
      margin-top: 25px;
      gap: 25px;
    }
  }

  &__img {
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  &__text-img {
    max-width: 102px;
    height: 26px;

    @media (max-width: 991px) {
      max-width: 95px;
      height: 24px;
    }

    @media (max-width: 767px) {
      max-width: 45px;
      height: 15px;
    }

  }

  &__text-about {

    &__header {
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 16px;
      color: #565959;

      @media (max-width: 991px) {
        font-size: 15px;
      }

      @media (max-width: 767px) {
        font-size: 10px;
      }
    }

    &__descr {
      margin-top: 11px;
      font-weight: 400;
      font-size: 18px;
      line-height: 130%;
      color: #000;

      @media (max-width: 991px) {
        font-size: 16px;
        margin-top: 8px;
      }

      @media (max-width: 767px) {
        font-size: 10px;
        margin-top: 6px;
      }
    }
  }

  .container {
    position: relative;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    @media (max-width: 767px) {
      padding: 0px 5px;
    }
  }
}