.header {
  background: var(--green-color);

  &__wrapper {
    margin: 38px;
    display: flex;
    gap: 24px;
    text-align: center;
    justify-content: center;

    @media (max-width: 991px) {
      margin: 30px;
    }

    @media (max-width: 767px) {
      margin: 15px;
    }
  }

  a {
    color: black;

    @media (max-width: 767px) {
      font-size: 10px;
    }
  }
}