.info {
  position: relative;
  background: var(--green-color);

  &__wrapper {
    min-height: calc(1120px - 92px);
    display: flex;
    justify-content: center;

    @media (max-width: 991px) {
      min-height: calc(960px - 92px);
    }

    @media (max-width: 767px) {
      min-height: calc(520px - 92px);
    }
  }
}

.info-text-wrapper {
  margin-top: 100px;
  max-height: 367px;
  max-width: 660px;
  text-align: center;

  @media (max-width: 991px) {
    margin-top: 65px;
  }

  @media (max-width: 767px) {
    margin-top: 25px;
  }

  &__header {
    padding: 0;
    margin: 0;
    font-size: 102px;
    font-weight: 400;
    letter-spacing: 0.02em;
    line-height: 100%;

    @media (max-width: 991px) {
      font-size: 88px;
    }

    @media (max-width: 767px) {
      font-size: 39px;
    }

  }

  &__text {
    margin-top: 36px;
    font-weight: 400;
    font-size: 21px;

    @media (max-width: 991px) {
      margin-top: 30px;
    }

    @media (max-width: 767px) {
      margin-top: 15px;
      font-size: 11px;
    }
  }
}