.reason {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 216px 0 74px 0;

    @media (max-width: 991px) {
      margin: 180px 0 74px 0;
    }

    @media (max-width: 767px) {
      margin: 95px 0 35px 0;
    }
  }

  &__header {
    font-weight: 400;
    font-size: 102px;
    line-height: 100%;
    letter-spacing: 0.02em;
    text-align: center;

    @media (max-width: 991px) {
      font-size: 80px;
    }

    @media (max-width: 767px) {
      font-size: 42px;
    }
  }
}